[Desktop Entry]

Version = 1.0

Type = Application

Terminal = false

Name = Google Tradutor

Exec = /opt/WebApps/Google-Tradutor-linux-x64/Google-Tradutor

Icon = /opt/WebApps/Google-Tradutor-linux-x64/resources/app/icon.png

Categories = Application
