[Desktop Entry]

Version = 1.0

Type = Application

Terminal = false

Name = Google Meet

Exec = /opt/WebApps/Google-Meet-linux-x64/Google-Meet

Icon = /opt/WebApps/Google-Meet-linux-x64/resources/app/icon.png

Categories = Application
