[Desktop Entry]

Version = 1.0

Type = Application

Terminal = false

Name = Office

Exec = /opt/WebApps/Office-linux-x64/Office

Icon = /opt/WebApps/Office-linux-x64/resources/app/icon.png

Categories = Application
