[Desktop Entry]

Version = 1.0

Type = Application

Terminal = false

Name = OneDrive

Exec = /opt/WebApps/OneDrive-linux-x64/OneDrive

Icon = /opt/WebApps/OneDrive-linux-x64/resources/app/icon.png

Categories = Application
