[Desktop Entry]

Version = 1.0

Type = Application

Terminal = false

Name = WhatsApp

Exec = /opt/WebApps/WhatsApp-linux-x64/WhatsApp

Icon = /opt/WebApps/WhatsApp-linux-x64/resources/app/icon.png

Categories = Application
