body{
    font-family: "Raleway", sans-serif;
    background-color: #353535ff;
}
h1, h2, h3, h4 {
    color: #f7f7f7ff;
}
a {
    color: #e20000ff;
}
p, ul, ol {
    color: #ddddddff;
}
code {
    background-color: #000000;
    color: #ffffffff;
}
.highlight {
    background-color: #000000;
}
.markdown-body .highlight pre, .markdown-body pre {
    background-color: #000000;
}